.footer {
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Position at the bottom of the viewport */
    width: 100%; /* Full width */
    background-color: #f8f9fa; /* Example background color */
    border-top: 1px solid #dee2e6;
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }
  
  .links {
    @media (max-width: $mantine-breakpoint-sm) {
      margin-top: var(--mantine-spacing-lg);
      margin-bottom: var(--mantine-spacing-sm);
    }
  }